snippet if "if (...) {...}" b
if (${1:/* condition */}) {
	${0:/* statement */}
}
endsnippet

snippet cl "console.log(...)" b
console.log(${0:/* statement */})
endsnippet

snippet func "function ..." b
function ${1:/* function name */}(${2:/* arguments */}) {
	${0:/* statement */}
}
endsnippet

