#-------------------------------------------------------------------------------
# Print
#-------------------------------------------------------------------------------
snippet pf "printf" b
System.out.printf($0)
endsnippet

