extends clang

#-------------------------------------------------------------------------------
# Libraries
#-------------------------------------------------------------------------------
snippet string "#include <string.h>" b
#include <string.h>
endsnippet

snippet stdlib "#include <stdlib.h>" b
#include <stdlib.h>
endsnippet

snippet assert "#include <assert.h>" b
#include <assert.h>
endsnippet

snippet stdint "#include <stdint.h>" b
#include <stdint.h>
endsnippet

#-------------------------------------------------------------------------------
# Template
#-------------------------------------------------------------------------------
snippet tmpl "c code template"
#include <stdio.h>

int main() {
	${0:printf("Hello World!\n");}

	return 0;
}
endsnippet

#-------------------------------------------------------------------------------
# libgen
#-------------------------------------------------------------------------------
snippet libgen "#include <libgen.h>" b
#include <libgen.h>
endsnippet

snippet base "basename(char *)"
basename(${0:/* char* */})
endsnippet

#-------------------------------------------------------------------------------
# stdio
#-------------------------------------------------------------------------------
snippet stdio "#include <stdio.h>" b
#include <stdio.h>
endsnippet

snippet pr "printf(...)"
printf(${0:/* const char* restrict, ... */});
endsnippet

snippet sc "scanf(...)"
scanf(${0:/* const char* restrict, ... */});
endsnippet

