#-------------------
# Hello, world!
#-------------------
snippet hello "Hello World! (hello)"
int main(int argc, char* argv[])
{
	${0:/* insert code here... */}
	printf("Hello World!\n");

	return 0;
}
endsnippet
