#-------------------
# Main
#-------------------
snippet main "int main(int argc, char *argv[]) (main)"
int main(int argc, char* argv[])
{
	${0:/* insert code here... */}

	return 0;
}
endsnippet

snippet mainv "int main(void) (mainv)"
int main(void)
{
	${0:/* insert code here... */}

	return 0;
}
endsnippet
