#-------------------
# stdio
#-------------------
snippet pr "printf(...) (pr)"
printf(${0:/* const char* restrict, ... */});
endsnippet

snippet sc "scanf(...) (sc)"
scanf(${0:/* const char* restrict, ... */});
endsnippet
