#------------
# stdio
#------------
snippet stdio "#include <stdio.h>" b
#include <stdio.h>
endsnippet

snippet pr "printf(...)"
printf(${0:/* const char* restrict, ... */});
endsnippet

snippet sc "scanf(...)"
scanf(${0:/* const char* restrict, ... */});
endsnippet
