#-------------------
# Value
#-------------------
# color
snippet rgb "rgb(r, g, b)"
rgb(${1:red}, ${2:green}, ${3:blue})$0
endsnippet

snippet rgba "rgba(r, g, b, a)"
rgba(${1:red}, ${2:green}, ${3:blue}, .${4:alpha})$0
endsnippet

snippet hsl "hsl(h, s, l)"
hsl(${1}, $2%, $3%)$0
endsnippet

snippet hsla "hsla(h, s, l, a)"
hsl($1, $2%, $3%, .$4)$0
endsnippet
