###################
# Time
###################
snippet date "2014-06-23 (date)"
`!v strftime("%Y-%m-%d")`
endsnippet

snippet ddate "June 23, 2014 (ddate)"
`!v strftime("%B %d, %Y")`
endsnippet

snippet time "07:04 (time)"
`!v strftime("%H:%M")`
endsnippet

snippet datetime "2014-06-23 07:04 (datetime)"
`!v strftime("%Y-%m-%d %H:%M")`
endsnippet
