#-------------------
# Print
#-------------------
snippet print "System.out.print(...) (print)"
System.out.print("${0:/* message */}");
endsnippet

snippet printf "System.out.printf(...) (printf)"
System.out.printf("${1:/* message */}", ${2:/* args */})
endsnippet

snippet println "System.out.println(...) (println)"
System.out.println("${0:/* message */}");
endsnippet

