#-------------------
# Link
#-------------------
snippet a "<a href=...>...</a> (a)"
<a href="${1:#}">$0</a>
endsnippet

snippet a# "<a href=... id=...>...</a> (a#)"
<a href="${1:#}" id="$2">$0</a>
endsnippet

snippet a. "<a href=... class=...>...</a> (a.)"
<a href="${1:#}" class="$2">$0</a>
endsnippet

snippet a#. "<a href=... id=... class=...>...</a> (a#.)"
<a href="${1:#}" id="$2" class="$3">$0</a>
endsnippet
