#-------------------
# Phrase
#-------------------
# abbreviation
snippet abbr "<abbr>"
<abbr title="${1:<##>}">${0:<##>}</abbr>
endsnippet

# citation
snippet cite "<cite>"
<cite>${0:<##>}</cite>
endsnippet

# computer code
snippet code "<code>"
<code>
	${0:<##>}
</code>
endsnippet

# emphasis
snippet em "<em>"
<em>${0:<##>}</em>
endsnippet

# strong
snippet strong "<strong>"
<strong>${0:<##>}</strong>
endsnippet

# bold
snippet b "<b>"
<b>$1</b>
endsnippet
