#-------------------
# Header
#-------------------
snippet h1 "# h1 (h1)"
# ${0:header 1}
endsnippet

snippet h2 "## h2 (h1)"
## ${0:header 2}
endsnippet

snippet h3 "### h3 (h3)"
### ${0:header 3}
endsnippet

snippet h4 "#### h4 (h4)"
#### ${0:header 4}
endsnippet

snippet h5 "##### h5 (h5)"
##### ${0:header 5}
endsnippet

snippet h6 "###### h6 (h6)"
###### ${0:header 6}
endsnippet

