#-------------------
# Link
#-------------------
snippet a "[link](url title)"
[${1:link text}](${2:url} "${0:title}")
endsnippet

snippet e "<username@domain>"
<${1:/* username */}@${0:/* domain */}>
endsnippet

# image
snippet ! "![alt](url title)"
![${1:alt text}](${2:url} "${0:title}")
endsnippet
