#-------------------
# Strong & Emphasize
#-------------------
snippet _ "_emphasize_ (_)"
_${1:emphasize}_ $0
endsnippet

snippet __ "__strong__ (__)"
__${1:strong}__ $0
endsnippet

snippet * "*emphasize* (*)"
*${1:emphasize}* $0
endsnippet

snippet ** "**strong** (**)"
**${1:strong}** $0
endsnippet

